{% extends 'base.html.twig' %}

{% block body %}
  <div class="card p-6 shadow">
    <h1 class="h4 mb-6 text-center">Register Your Pet</h1>
    <div class="pet-form">

    {{ form_start(form) }}

    <div class="mb-3">
      <label class="form-label">Pet’s Name</label>
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="mb-3">
      <label class="form-label">Pet Type</label>
      {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
    </div>

    <div class="mb-3">
      <label class="form-label">Breed</label>
      {{ form_widget(form.breed, {'attr': {'class': 'form-select'}}) }}

      {% if form.vars.data.breed in ['Pitbull', 'Mastiff'] %}
        <div class="danger-notice">
          {{ form.vars.data.breed }} is considered dangerous.
        </div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label class="form-label">Date of Birth</label>
      {{ form_widget(form.dateOfBirth, {'attr': {'class': 'form-control'}}) }}
      <div class="form-text">Leave blank if unknown</div>
    </div>

    <div class="mb-3">
      <label class="form-label">Sex</label>
      {{ form_widget(form.sex, {'attr': {'class': 'form-select'}}) }}
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Save Pet</button>
    </div>

    {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
